:root {
    --color-textarea: rgba(117, 117, 117, 0.5);
    --backdrop-bg: rgba(0, 0, 0, 0.2);
    --color-overley-bg: rgba(33, 150, 243, 0.9);
    --transition-hover-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --color-bg-icon: rgba(255, 255, 255, 0.1);
    --icon-corlor: #afb1b8;
    --font-ral: "Raleway", sans-serif;
    --color-logo: #000000;
    --color-title: #212121;
    --color-text: #757575;
    --color-hover-focus: #2196f3;
    --color-background: #2f303a;
    --color-section-title: #ffffff;
    --color-section-btn: #d9d9d9;
    --team-background: #f5f4fa;
    --color-footer-logo: #ffffff;
    --color-footer-mail: rgba(255, 255, 255, 0.6);
    --portfolio-background: #f5f5f5;
}