.portfolio {
  @extend %section;
  @extend %reset-padding-bottom;
}
.portfolio-container {
  @extend %container;
}

.portfolio-title {
  @extend %visually-hidden;
}

.portfolio-list {
  @extend %contacts;
  display: flex;

  @media screen and (max-width: $mobile-max) {
    flex-wrap: wrap;
    margin-top: 60px;
  }

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-top: 80px;
  }
}

.portfolio-list-item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }

  @media screen and (max-width: $mobile-max) {
    margin-bottom: 15px;

    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
  }
}

.btn-filters {
  display: inline-block;
  padding: 6px 22px;

  color: var(--color-title);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  cursor: pointer;

  background-color: var(--team-background);
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background var(--transition-hover-focus),
    color var(--transition-hover-focus);

  &:hover,
  &:focus {
    color: var(--portfolio-background);
    background-color: var(--color-hover-focus);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
