.project {
  @extend %section, %reset-padding-top;

  @media screen and (max-width: $mobile-max) {
    padding-top: 40px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 50px;
  }
}
.project-container {
  @extend %container;
}

.project-list {
  @extend %contacts;
  display: flex;
  flex-wrap: wrap;
}

.project-items {
  margin-bottom: 30px;
  width: 100%;

  transition: box-shadow var(--transition-hover-focus);
  overflow: hidden;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (max-width: $mobile-max) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * 15px) / 2);
    margin-right: 30px;

    @media screen and (max-width: $tablet-max) {
      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 4 * 15px) / 3);

    &:nth-child(3n + 0) {
      margin-right: 0;
    }

    &:nth-child(n + 7) {
      margin-bottom: 0;
    }
  }
}

.project-item {
  @extend %link;
}

.project-top {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  @extend %contacts;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  background: var(--color-overley-bg);
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-section-title);
  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--transition-hover-focus),
    opacity var(--transition-hover-focus);

  .project-item:focus &,
  .project-item:hover & {
    opacity: 1;
    transform: translateY(0%);
  }
}

.project-name {
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  @media screen and (min-width: $tablet) {
    @media screen and (max-width: $tablet-max) {
      height: 146px;
    }
  }
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-title);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;

  margin-top: 0px;
  margin-bottom: 0px;
  height: auto;
  color: var(--color-text);
}
