.section {
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--color-background);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Img-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}

.section__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-title {
    text-align: center;
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636;
    /* or 136% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-section-title);
}

.section-btn {
    background-color: var(--color-hover-focus);
    min-width: 216px;
    height: 50px;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--color-section-title);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    &:hover,
        &:focus {
            background: var(--color-hover-focus);
        }
}