.customers {
    padding-top: 99px;
    padding-bottom: 94px;
}

.customers-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    color: var(--color-title);
}

.customers-list {
    justify-content: space-between;
    gap: 30px;
    display: flex;
    list-style: none;
}

.customers-item {
    width: 170px;
    height: 92px;
}

.customers-link {
    transition: border var(--transition-hover-focus);
    width: 100%;
    height: 100%;
    background-color: var(--color-footer-logo);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;
    &:hover,
        &:focus {
            border: 1px solid var(--color-hover-focus);
        }
}

.customers-icon {
    transition: fill var(--transition-hover-focus);
    fill: var(--icon-corlor);
    .customers-link:hover &,
        .customers-link:focus & {
            fill: var(--color-hover-focus);
        }
}